 /*
Código CSS -- Estilos Reset
*/

 * {
 	margin: 0;
 	padding: 0;
 }

 /*
-- Tipografia básica
*/



 body { 	
 	font-family: arial;
 	padding: 0;
 	margin: 0;
 }

 h1 {
 	margin-bottom: 0.5em;
 	color: lch(31.71% 86.81 303.22);
 	text-align: center;
 	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 h2 {
 	padding: 30px;
 	margin-top: 10px;
 	color: hwb(23 14% 1%);
 	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 h3 {
 	margin-top: 30px;
 	color: hwb(134 11% 43%);
 	text-align: center;
 	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 a:link {
 	color: hsl(137, 85%, 20%);
 	text-decoration: none;
 }

 a:visited {
 	color: lab(81.63% -17.17 80.61);
 	text-decoration: none;
 }

 a:hover {
 	color: #9999FF;
 	text-decoration: underline;
 }

 a:active {
 	color: #660066;
 	text-decoration: underline;
 	background-color: #000000;
 }

 p {
 	margin-top: 20px;
 	margin-bottom: 1em;
 	text-indent: 30px;
 	text-align: justify;
 	text-shadow: inter-word;
 	font-size: xx-large;
 	color: hwb(130 4% 50%);
 }

 /*
-- Estrutura
*/
 .mySlides {
 	display: none;
 }

 #titup {
 	position: absolute;
 	top: 50px;
 	width: 100%;
 	text-align: center;
 }

 #titdown {
 	position: absolute;
 	bottom: 20px;
 	width: 100%;
 	text-align: center;
 }

 #fundo {
 	position: fixed;
 	width: 100vw;
 	height: auto;
 	background-size: cover;
 }

 #fundo-externo {
	background-repeat: no-repeat;
 	position: absolute;
 	width: 100vw;
 	height: 100vh;
 }

 #menu {
 	padding: 30px;
 	word-spacing: 15px;
 	text-align: center;
 	font-size: xx-large;
 }

 #site {
 	background: #FFF;
 	background: hwb(0 100% 0% / 0.849);
 	position: absolute;
 	top: 0;
 	left: 42%;
 	width: 890px;
 	padding: 20px;
 	margin-left: -300px;
 	margin-top: 80px;
 	border-radius: 500px 500px 50px 50px;
 }