 /*
Código CSS -- Estilos Reset
*/

 * {
 	margin: 0;
 	padding: 0;
 }

 /*
-- Tipografia básica
*/



 body { 	
 	font-family: arial;
 	padding: 0;
 	margin: 0;
 }

 h1 {
 	margin-bottom: 0.5em;
 	color: lch(31.71% 86.81 303.22);
 	text-align: center;
 	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 h2 {
 	padding: 30px;
 	margin-top: 10px;
 	color: hwb(23 14% 1%);
 	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 h3 {
 	margin-top: 30px;
 	color: hwb(130 4% 50%);
 	text-align: center;
 }
 h4 {
 	margin-top: 30px;
 	color: hwb(26 2% 92%);
 	text-align: center;
 }

 a:link {
 	color: hsl(137, 85%, 20%);
 	text-decoration: none;
 }

 a:visited {
 	color: hwb(130 4% 50%);
 	text-decoration: none;
 }

 a:hover {
 	color: #9999FF;
 	text-decoration: underline;
 }

 a:active {
 	color: #660066;
 	text-decoration: underline;
 	background-color: #000000;
 }

 u {
 	color: #5350ec;
 }

 p {
 	margin-top: 20px;
 	margin-bottom: 1em;
 	text-indent: 30px;
 	text-align: justify;
 	text-shadow: inter-word;
	font-size: x-large;
 	color: lch(25.16% 40.33 140.53);
 }

 /*
-- Estrutura
*/
 .mySlides {
 	display: none;
 }

 #titup {
 	position: absolute;
 	top: 50px;
 	width: 100%;
 	text-align: center;
 }

 #titdown {
 	position: absolute;
 	bottom: 20px;
 	width: 100%;
 	text-align: center;
 }

 #fundo {
 	position: fixed;
 	width: 100vw;
 	height: auto;
 	background-size: cover;
 }

 #fundo-externo {
	background-repeat: no-repeat;
 	position: absolute;
 	width: 100vw;
 	height: 100vh;
 }

 #menu {
 	padding: 30px;
 	word-spacing: 15px;
 	text-align: center;
 	font-size: xx-large;
 }

 #site {
 	background: #FFF;
 	background: lab(100% 0.01 -0.01 / 0.644);
 	position: absolute;
 	top: 0;
 	left: 38%;
 	left: 38%;
 	width: 890px;
 	padding: 20px;
 	margin-left: -300px;
 	margin-top: 80px;
 	border-radius: 350px 350px 50px 50px;
	justify-content: center;
 	align-items: center;
 	border-radius: 350px 350px 50px 50px;
	justify-content: center;
 	align-items: center;
 }